version: "3.9"

services:
  database:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: postgresdb
    ports:
      - "5432:5432"
    volumes:
      - postgresdb:/var/lib/postgresql/data
    networks:
      - postgres_network


volumes:
  postgresdb:
    driver: local

networks:
  postgres_network:
    driver: bridge